<p-dialog
  [visible]="true"
  [closable]="false"
  [modal]="true"
  header="Iniciar Sesión"
  [style]="{ width: '25rem', 'min-width': '15rem' }"
>
  <p-messages [(value)]="msgsLogin" [enableService]="false" />
  <form class="form" [autocomplete]="false" [formGroup]="userForm">
    <div class="flex flex-column gap-1">
      <label class="" for="username">Usuario:</label>

      <div class="flex align-items-center gap-2">
        <input
          pInputText
          id="username"
          formControlName="username"
          type="text"
          class="w-full"
          placeholder="usuario"
        />

        <p-message
          class="min-w-max"
          severity="error"
          *ngIf="validate(username)"
        />
      </div>

      <label class="mt-2" for="password">Contraseña:</label>

      <div class="flex align-items-center gap-2">
        <p-password
          inputId="password"
          formControlName="password"
          class="w-full"
          [style]="{ width: '100%' }"
          [inputStyle]="{ width: '100%' }"
          [feedback]="false"
          [toggleMask]="true"
          placeholder="contraseña"
        />

        <p-message
          class="min-w-max"
          severity="error"
          *ngIf="validate(password)"
        />
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <p-button
      class="flex justify-content-center"
      label="Entrar"
      icon="pi pi-sign-in"
      [disabled]="userForm.invalid"
      (onClick)="login()"
      [outlined]="true"
    />
  </ng-template>
</p-dialog>
