<div class="container">
  <!-- <div class="card m-3 p-5"> -->
  <p-card
    class="m-3 p-5"
    [header]="newAgreement.PK_id ? 'Actualizar Acuerdo' : 'Crear Acuerdo'"
  >
    <!-- <h1>Crear Acuerdo</h1>
    <hr /> -->

    <!-- <div>
      TODO: poner un tiempo para el mensaje
      <p-messages
        [(value)]="messages"
        [enableService]="false"
        [closable]="true"
        *ngIf="success"
      ></p-messages>
    </div> -->

    <form
      class="form"
      action="POST"
      (ngSubmit)="create()"
      [formGroup]="agreementForm"
      autocomplete="off"
    >
      <div class="row justify-content-center">
        <div class="row mb-3 justify-content-center">
          <!-- FIXME: arreglar el layout xk aparece mas a la izquierda -->
          <label for="content" class="col-3 align-self-center text-end"
            >Contenido del acuerdo:
          </label>
          <!-- <div class="col"> -->
          <input
            class="col mx-1"
            type="text"
            pInputText
            id="content"
            formControlName="content"
            placeholder="Contenido del acuerdo..."
          />
          <div class="row">
            <div class="col-3"></div>
            <small
              id="content-help"
              class="p-error col"
              *ngIf="validate('content')"
              >{{ contentErrorMsg }}</small
            >
          </div>
          <!-- </div> -->
        </div>
        <div class="col">
          <!-- <div class="flex-auto mb-3">
          <label for="number" class="mb-2 block font-bold">Número: </label>
          <p-inputNumber
          inputId="number"
          [showButtons]="true"
          [min]="0"
            [max]="100"
            [(ngModel)]="newAgreement.number"
            name="number"
            class="mx-2"
          ></p-inputNumber>
        </div> -->

          <div class="row mb-3 justify-content-center">
            <label for="area" class="col align-self-center text-end"
              >Área:
            </label>
            <div class="col">
              <p-dropdown
                class="row"
                id="area"
                [options]="areas"
                optionLabel="name"
                optionValue="PK_idArea"
                formControlName="area"
                placeholder="-- Seleccione --"
              ></p-dropdown>
              <small
                id="area-help"
                class="p-error row mx-3"
                *ngIf="validate('workArea')"
                >{{ areaErrorMsg }}</small
              >
            </div>
          </div>

          <div class="row mb-3 justify-content-center">
            <!-- FIXME: arreglar el layout xk aparece mas a la izquierda -->
            <label for="responsible" class="col align-self-center text-end"
              >Responsable:
            </label>
            <div class="col">
              <p-dropdown
                class="row"
                id="responsible"
                [options]="workers"
                optionLabel="name"
                optionValue="PK_idResponsible"
                formControlName="responsible"
                placeholder="-- Seleccione --"
              ></p-dropdown>
              <small
                id="responsible-help"
                class="p-error row mx-3"
                *ngIf="validate('responsible')"
                >{{ responsibleErrorMsg }}</small
              >
            </div>
          </div>
          <!-- FIXME: sustituir x inputtext del usuario logeado -->
          <div class="row mb-3 justify-content-center">
            <label for="createdBy" class="col align-self-center text-end"
              >Creado por:
            </label>
            <div class="col">
              <p-dropdown
                class="row"
                id="createdBy"
                optionLabel="name"
                optionValue="PK_idCreatedBy"
                [options]="workers"
                formControlName="createdBy"
                placeholder="-- Seleccione --"
              ></p-dropdown>
              <small
                id="createdBy-help"
                class="p-error row mx-3"
                *ngIf="validate('createdBy')"
                >{{ createdByErrorMsg }}</small
              >
            </div>
          </div>

          <div class="row mb-3 justify-content-center">
            <label for="complianceDate" class="col align-self-center text-end"
              >Fecha de cumplimiento del acuerdo:
            </label>
            <div class="col">
              <p-calendar
                class="row"
                id="compilanceDate"
                dateFormat="mm/dd/yy"
                formControlName="compilanceDate"
              ></p-calendar>
              <small
                id="compilanceDate-help"
                class="p-error row mx-3"
                *ngIf="validate('compilanceDate')"
                >{{ compilanceDateErrorMsg }}</small
              >
            </div>
          </div>

          <div class="row mb-3 justify-content-center">
            <p-checkbox
              class="col justify-content-end"
              id="completed"
              [binary]="true"
              formControlName="completed"
            ></p-checkbox>
            <!-- inputId="completed" -->
            <label for="completed" class="col align-self-center"
              >Cumplido</label
            >
          </div>
        </div>

        <div class="col">
          <div class="row mb-3 justify-content-center">
            <label for="meeting" class="col-5 align-self-center text-end"
              >Reunión:
            </label>
            <div class="col">
              <p-dropdown
                class="row"
                id="meeting"
                [options]="meetings"
                optionLabel="name"
                optionValue="PK_idMeeting"
                formControlName="meeting"
                placeholder="-- Seleccione --"
              ></p-dropdown>
              <small
                id="meeting-help"
                class="p-error row mx-3"
                *ngIf="validate('meeting')"
                >{{ meetingErrorMsg }}</small
              >
            </div>
          </div>

          <div class="row mb-3 justify-content-center">
            <label for="session" class="col-5 align-self-center text-end"
              >Sesión:
            </label>
            <div class="col">
              <p-dropdown
                class="row"
                id="session"
                [options]="sessions"
                optionLabel="name"
                optionValue="PK_idSession"
                formControlName="session"
                placeholder="-- Seleccione --"
              ></p-dropdown>
              <small
                id="session-help"
                class="p-error row mx-3"
                *ngIf="validate('session')"
                >{{ sessionErrorMsg }}</small
              >
            </div>
          </div>

          <div class="row mb-3 justify-content-center">
            <label for="meetingDate" class="col-5 align-self-center text-end"
              >Fecha de la reunión:
            </label>
            <div class="col">
              <p-calendar
                class="row"
                ngClass="date"
                id="meetingDate"
                dateFormat="mm/dd/yy"
                formControlName="meetingDate"
              ></p-calendar>
              <small
                id="meetingDate-help"
                class="p-error row mx-3"
                *ngIf="validate('meetingDate')"
                >{{ meetingDateErrorMsg }}</small
              >
            </div>
          </div>

          <div class="row mb-3 justify-content-center">
            <label for="startTime" class="col-5 align-self-center text-end"
              >Hora de inicio de la reunión:
            </label>
            <div class="col">
              <p-calendar
                class="col"
                id="startTime"
                [timeOnly]="true"
                formControlName="meetingStartTime"
              ></p-calendar>
              <small
                id="startTime-help"
                class="p-error row mx-3"
                *ngIf="validate('meetingStartTime')"
                >{{ meetingStartTimeErrorMsg }}</small
              >
            </div>
          </div>

          <div class="row mb-3 justify-content-center">
            <label for="endTime" class="col-5 align-self-center text-end"
              >Hora de fin de la reunión:
            </label>
            <div class="col">
              <p-calendar
                class="col"
                ngClass="date"
                id="endTime"
                [timeOnly]="true"
                formControlName="meetingEndTime"
              ></p-calendar>
              <small
                id="endTime-help"
                class="p-error row mx-3"
                *ngIf="validate('meetingEndTime')"
                >{{ meetingEndTimeErrorMsg }}</small
              >
            </div>
          </div>
        </div>

        <div class="row mb-5 justify-content-center">
          <label for="answer" class="col-3 align-self-center text-end"
            >Respuesta:
          </label>
          <!-- FIXME: arreglar k el textarea se puede cambiar de tamano -->
          <textarea
            class="col mx-2"
            pInputTextarea
            [autoResize]="true"
            id="answer"
            formControlName="answer"
            placeholder="Respuesta..."
          ></textarea>
        </div>

        <!-- <div class="form-check">
          <input
          class="form-check-input"
          type="checkbox"
          [value]="newAgreement.completed"
          id="completed"
          />
          <label class="form-check-label" for="completed"> Completed </label>
        </div> -->

        <div class="row justify-content-center">
          <p-toast></p-toast>
          <p-button
            label="Crear"
            icon="pi pi-check"
            severity="success"
            class="col-2 mx-2"
            type="submit"
            *ngIf="!newAgreement.PK_id; else update"
            [disabled]="agreementForm.invalid"
          ></p-button>
          <ng-template #update>
            <p-button
              label="Actualizar"
              icon="pi pi-check"
              severity="success"
              class="col-2 mx-2"
              type="submit"
              [disabled]="agreementForm.invalid"
            ></p-button>
          </ng-template>
          <p-button
            label="Cancelar"
            icon="pi pi-times"
            class="col-2 mx-2"
            type="button"
            [routerLink]="
              !newAgreement.PK_id
                ? '/acuerdos'
                : ['/detalles/', newAgreement.PK_id]
            "
          ></p-button>
        </div>
      </div>
    </form>
    <!-- <p-card /> -->
    <!-- </div> -->
  </p-card>
</div>

<div class="row container">
  <div class="col">
    <pre>{{ agreementForm.value | json }}</pre>
    <br />
    <span>valid:</span>
    <pre>{{ agreementForm.valid }}</pre>
    <pre>{{ agreementForm.errors | json }}</pre>
    <br />
    <span>responsible:</span>
    <pre>{{ agreementForm.get("responsible")?.valid }}</pre>
    <pre>{{ agreementForm.get("responsible")?.errors | json }}</pre>
    <br />
  </div>
</div>
