<!-- <div class="container p-5">
  <h1>Create Agreement (bootstrap)</h1>
  <hr />

  <div
    class="alert alert-success alert-dismissible fade show"
    role="alert"
    *ngIf="success"
  >
    Agreement created successfully!
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>

  <div class="row">
    <div class="col">
      <form class="form" action="POST" (ngSubmit)="create()">
        <div class="input-group mb-3">
          <label class="input-group-text" for="name">Agreement</label>
          <input
            class="form-control"
            type="number"
            name="name"
            id="name"
            required
            [(ngModel)]="newAgreement.number"
          />
        </div>

        <div class="input-group mb-3">
          <label class="input-group-text" for="area">Area</label>
          <select class="form-select" name="area" id="area">
            <option selected>Choose...</option>
            <option value="Human Resourses">Human Resourses</option>
            <option value="Economy">Economy</option>
            <option value="Logistics">Logistics</option>
          </select>
        </div>

        <div class="input-group mb-3">
          <label class="input-group-text" for="meeting">Meeting</label>
          <select class="form-select" id="meeting" name="meeting">
            <option selected>Choose...</option>
            <option value="meeting 1">Meeting 1</option>
            <option value="meeting 2">Meeting 2</option>
            <option value="meeting 3">Meeting 3</option>
          </select>
          <label class="input-group-text" for="session">Session</label>
          <select class="form-select" id="session" name="session">
            <option selected>Choose...</option>
            <option value="ordinary">Ordinary</option>
            <option value="extraordinary">Extraordinary</option>
          </select>
        </div>

        <div class="input-group mb-3">
          <label class="input-group-text" for="createdBy">Created by</label>
          <select class="form-select" name="createdBy" id="createdBy">
            <option selected>Choose...</option>
            <option value="Doug Left">Doug Left</option>
            <option value="Douglas">Douglas Izquierdo</option>
            <option value="Other">Other</option>
          </select>
        </div>

        <div class="input-group mb-3">
          <label class="input-group-text" for="date">Date</label>
          <input
            class="form-control"
            type="text"
            name="date"
            id="date"
            placeholder="2024-05-17"
            required
            [value]="newAgreement.date"
            [(ngModel)]="newAgreement.date"
          />
        </div>

        <div class="input-group mb-3">
          <label class="input-group-text" for="description">Solution</label>
          <textarea
            class="form-control"
            type="text"
            name="description"
            id="description"
            required
            [value]="newAgreement.description"
            [(ngModel)]="newAgreement.description"
          ></textarea>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-text">
            <input
              class="form-check-input mt-0"
              type="checkbox"
              [value]="newAgreement.completed"
              [(ngModel)]="newAgreement.completed"
              aria-label="Checkbox for following text input"
            />
          </div>
          <input
            type="text"
            class="form-control"
            aria-label="Text input with checkbox"
            value="Completed"
            disabled
          />
        </div>

        comment this block
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            [value]="newAgreement.completed"
            id="completed"
          />
          <label class="form-check-label" for="completed"> Completed </label>
        </div>

        <div class="row justify-content-center">
          <button class="btn btn-success col-2 mx-2" type="submit">
            Create
          </button>
          <button
            class="btn btn-primary col-2 mx-2"
            type="button"
            routerLink=""
          >
            Back
          </button>
        </div>
      </form>
    </div>
  </div>
</div> -->

<div class="container">
  <!-- <div class="card m-3 p-5"> -->
  <p-card class="m-3 p-5" header="Crear Acuerdo">
    <!-- <h1>Crear Acuerdo</h1>
    <hr /> -->

    <!-- <div>
      TODO: poner un tiempo para el mensaje
      <p-messages
        [(value)]="messages"
        [enableService]="false"
        [closable]="true"
        *ngIf="success"
      ></p-messages>
    </div> -->

    <form class="form" action="POST" (ngSubmit)="create()" #agreementsTable>
      <div class="row justify-content-center">
        <div class="col">
          <!-- <div class="flex-auto mb-3">
          <label for="number" class="mb-2 block font-bold">Número: </label>
          <p-inputNumber
          inputId="number"
          [showButtons]="true"
          [min]="0"
            [max]="100"
            [(ngModel)]="newAgreement.number"
            name="number"
            class="mx-2"
          ></p-inputNumber>
        </div> -->

          <div class="row mb-3 justify-content-center">
            <!-- FIXME: asociar al atributo -->
            <!-- FIXME: arreglar el layout xk aparece mas a la izquierda -->
            <!-- BUG: validar todos los campos -->
            <label for="content" class="col align-self-center text-end mx-2"
              >Contenido del acuerdo:
            </label>
            <input
              type="text"
              pInputText
              name="content"
              id="content"
              class="col"
              [(ngModel)]="value"
              (input)="keyPressed($event)"
            />
          </div>

          <div class="row mb-3 justify-content-center">
            <!-- FIXME: este campo debe ser un dropdown -->
            <!-- FIXME: arreglar el layout xk aparece mas a la izquierda -->
            <label for="responsible" class="col align-self-center text-end mx-2"
              >Responsable:
            </label>
            <input
              type="text"
              pInputText
              name="responsible"
              id="responsible"
              class="col"
            />
          </div>

          <div class="row mb-3 justify-content-center">
            <label for="area" class="col align-self-center text-end"
              >Área:
            </label>
            <p-dropdown
              [options]="areas"
              [(ngModel)]="newAgreement.area"
              placeholder="Seleccione ..."
              name="area"
              class="col"
            ></p-dropdown>
          </div>

          <div class="row mb-3 justify-content-center">
            <label for="createdBy" class="col align-self-center text-end"
              >Creado por:
            </label>
            <p-dropdown
              [options]="creators"
              [(ngModel)]="newAgreement.createdBy"
              placeholder="Seleccione ..."
              name="createdBy"
              class="col"
            ></p-dropdown>
          </div>

          <div class="row mb-3 justify-content-center">
            <label for="date" class="col align-self-center text-end"
              >Fecha de cumplimiento del acuerdo:
            </label>
            <p-calendar
              [(ngModel)]="newAgreement.agreementCompilanceDate"
              dateFormat="mm/dd/yy"
              name="date"
              class="col"
            ></p-calendar>
          </div>

          <div class="row mb-3 justify-content-center">
            <p-checkbox
              [(ngModel)]="checked"
              [binary]="true"
              inputId="completed"
              name="completed"
              class="col justify-content-end"
            ></p-checkbox>
            <label for="completed" class="col align-self-center"
              >Cumplido</label
            >
          </div>
        </div>

        <div class="col">
          <div class="row mb-3 justify-content-center">
            <label for="meeting" class="col-5 align-self-center text-end"
              >Reunión:
            </label>
            <p-dropdown
              [options]="meetings"
              [(ngModel)]="newAgreement.meeting"
              placeholder="Seleccione ..."
              name="meeting"
              class="col"
            ></p-dropdown>
          </div>

          <div class="row mb-3 justify-content-center">
            <label for="session" class="col-5 align-self-center text-end"
              >Sesión:
            </label>
            <p-dropdown
              [options]="sessions"
              [(ngModel)]="newAgreement.session"
              placeholder="Seleccione ..."
              name="session"
              class="col"
            ></p-dropdown>
          </div>

          <div class="row mb-3 justify-content-center">
            <label for="date" class="col-5 align-self-center text-end"
              >Fecha de la reunión:
            </label>
            <p-calendar
              [(ngModel)]="newAgreement.meetingDate"
              dateFormat="mm/dd/yy"
              [maxDate]="today"
              name="date"
              class="col"
            ></p-calendar>
          </div>

          <div class="row mb-3 justify-content-center">
            <label for="start" class="col-5 align-self-center text-end"
              >Hora de inicio de la reunión:
            </label>
            <p-calendar
              [(ngModel)]="newAgreement.meetingStartTime"
              [timeOnly]="true"
              [minDate]="getDayBeginning()"
              [maxDate]="today"
              name="start"
              class="col"
            ></p-calendar>
          </div>

          <div class="row mb-3 justify-content-center">
            <label for="end" class="col-5 align-self-center text-end"
              >Hora de fin de la reunión:
            </label>
            <p-calendar
              [(ngModel)]="newAgreement.meetingEndTime"
              [timeOnly]="true"
              [minDate]="getDayBeginning()"
              [maxDate]="getDayEnd()"
              name="end"
              class="col"
            ></p-calendar>
          </div>
        </div>

        <div class="row mb-5 justify-content-center">
          <label for="solution" class="col-3 align-self-center text-end"
            >Solución:
          </label>
          <!-- FIXME: arreglar k el textarea se puede cambiar de tamano -->
          <textarea
            id="solution"
            rows="5"
            cols="100"
            [autoResize]="true"
            pInputTextarea
            [(ngModel)]="newAgreement.solution"
            name="solution"
            class="col mx-2"
          ></textarea>
        </div>

        <!-- <div class="form-check">
          <input
          class="form-check-input"
          type="checkbox"
          [value]="newAgreement.completed"
          id="completed"
          />
          <label class="form-check-label" for="completed"> Completed </label>
        </div> -->

        <div class="row justify-content-center">
          <p-toast></p-toast>
          <p-button
            label="Crear"
            icon="pi pi-check"
            severity="success"
            class="col-2 mx-2"
            type="submit"
          ></p-button>
          <p-button
            label="Cancelar"
            icon="pi pi-times"
            class="col-2 mx-2"
            type="button"
            routerLink=""
          ></p-button>
        </div>
      </div>
    </form>
    <!-- <p-card /> -->
    <!-- </div> -->
  </p-card>
</div>
