<div class="flex align-items-center justify-content-center">
  <p-card
    class="p-5 w-full"
    [header]="
      newAgreement.id
        ? 'Actualizar Acuerdo No. ' + newAgreement.number
        : 'Crear Acuerdo No. ' + newAgreement.number
    "
  >
    <form
      class="form"
      action="POST"
      (ngSubmit)="create()"
      [formGroup]="agreementForm"
      autocomplete="off"
    >
      <!-- contenido -->
      <div class="grid">
        <label
          for="content"
          class="col-2 flex align-items-center justify-content-end"
          >Contenido del acuerdo:
        </label>

        <input
          class="col ml-2 mr-3"
          type="text"
          pInputText
          id="content"
          formControlName="content"
          placeholder="Contenido del acuerdo..."
        />
      </div>

      <div class="grid">
        <div class="col-2"></div>

        <small
          id="content-help"
          class="p-error col ml-2"
          *ngIf="validate('content')"
          >{{ contentErrorMsg }}</small
        >
      </div>
      <!-- fin contenido -->

      <!-- 2 columnas -->
      <div class="grid mt-1">
        <!-- izquierda -->
        <div class="col">
          <!-- meeting -->
          <div class="grid">
            <label
              for="meeting"
              class="col-4 flex align-items-center justify-content-end"
              >Reunión:
            </label>

            <p-dropdown
              class="col mr-3"
              inputId="meeting"
              [options]="meetings"
              optionLabel="name"
              optionValue="id"
              formControlName="meeting"
              placeholder="-- Seleccione --"
            ></p-dropdown>
          </div>

          <div class="grid">
            <div class="col-4"></div>

            <small
              id="meeting-help"
              class="p-error col pt-0 ml-2 mr-3"
              *ngIf="validate('meeting')"
              >{{ meetingErrorMsg }}</small
            >
          </div>
          <!-- fin meeting -->

          <!-- fecha de cumplimiento -->
          <div class="grid">
            <label
              for="complianceDate"
              class="col-4 flex align-items-center justify-content-end"
              >Fecha de cumplimiento:
            </label>
            <p-calendar
              class="col flex align-items-center align-self-center"
              [iconDisplay]="'input'"
              [showIcon]="true"
              inputId="complianceDate"
              dateFormat="mm/dd/yy"
              formControlName="compilanceDate"
            ></p-calendar>
            <div class="col-4"></div>
          </div>

          <div class="grid">
            <div class="col-4"></div>

            <small
              id="compilanceDate-help"
              class="p-error col pt-0 ml-2"
              *ngIf="validate('compilanceDate')"
              >{{ compilanceDateErrorMsg }}</small
            >
          </div>
          <!-- fin fecha de cumplimiento -->

          <!-- checkbox -->
          <div class="grid">
            <div class="col-4"></div>
            <div class="col field-checkbox">
              <p-checkbox
                class=""
                inputId="completed"
                [binary]="true"
                formControlName="completed"
              ></p-checkbox>
              <label for="completed" class="">Cumplido</label>
            </div>
          </div>
          <!-- fin checkbox -->
        </div>
        <!-- fin izquierda -->

        <!-- derecha -->
        <div class="col">
          <!-- creator -->
          <!-- FIXME: sustituir x inputtext del usuario logeado -->
          <div class="grid">
            <label
              for="createdBy"
              class="col-4 flex align-items-center justify-content-end"
              >Creado por:
            </label>

            <p-dropdown
              class="col"
              id="createdBy"
              [options]="secretaries"
              optionLabel="name"
              optionValue="id"
              formControlName="createdBy"
              placeholder="-- Seleccione --"
            ></p-dropdown>
          </div>

          <div class="grid">
            <div class="col-4"></div>

            <small
              id="createdBy-help"
              class="p-error col pt-0 ml-2"
              *ngIf="validate('createdBy')"
              >{{ createdByErrorMsg }}</small
            >
          </div>
          <!-- fin creator -->

          <!-- responsible -->
          <div class="grid">
            <label
              for="responsible"
              class="col-4 flex align-items-center justify-content-end"
              >Responsable:
            </label>

            <p-dropdown
              class="col"
              id="responsible"
              [options]="workers"
              optionLabel="name"
              optionValue="id"
              formControlName="responsible"
              placeholder="-- Seleccione --"
            ></p-dropdown>
          </div>

          <div class="grid">
            <div class="col-4"></div>

            <small
              id="responsible-help"
              class="p-error col pt-0 ml-2"
              *ngIf="validate('responsible')"
              >{{ responsibleErrorMsg }}</small
            >
          </div>
          <!-- fin responsible -->
        </div>
        <!-- fin derecha -->
      </div>
      <!-- fin 2 columnas -->

      <!-- answer -->
      <div class="grid">
        <label
          for="answer"
          class="col-2 flex align-items-center justify-content-end"
          >Respuesta:
        </label>

        <textarea
          class="col mr-3"
          pInputTextarea
          [autoResize]="true"
          id="answer"
          formControlName="answer"
          placeholder="Respuesta..."
        ></textarea>
      </div>
      <!-- fin answer -->

      <!-- botones -->
      <div class="gap-6 mt-5 flex align-items-center justify-content-center">
        <p-toast></p-toast>

        <p-button
          label="Crear"
          icon="pi pi-check"
          severity="success"
          class=""
          type="submit"
          *ngIf="!newAgreement.id; else update"
          [disabled]="agreementForm.invalid"
        ></p-button>

        <ng-template #update>
          <p-button
            label="Actualizar"
            icon="pi pi-check"
            severity="success"
            class="col-2 mx-2"
            type="submit"
            [disabled]="agreementForm.invalid || agreementForm.pristine"
          ></p-button>
        </ng-template>

        <p-button
          label="Cancelar"
          icon="pi pi-times"
          class=""
          type="button"
          [routerLink]="
            !newAgreement.id
              ? '/acuerdos'
              : ['/acuerdos/detalles/', newAgreement.id]
          "
        ></p-button>
      </div>
      <!-- fin botones -->
    </form>
  </p-card>
</div>

<pre>
  {{ agreementForm.controls["createdBy"].value }}
</pre>
