<div class="flex flex-wrap align-items-center justify-content-center">
  <div class="p-5 w-full">
    <p-card class="min-w-700" header="Listado de Trabajadores">
      <p-toast></p-toast>
      <p-table
        [value]="workers"
        [tableStyle]="{ 'min-width': '60rem' }"
        #tWorkers
        [globalFilterFields]="['name', 'occupation', 'email']"
      >
        <ng-template pTemplate="caption">
          <div class="flex justify-content-between">
            <p-button
              label="Agregar Trabajador"
              icon="pi pi-plus"
              severity="success"
              routerLink="/trabajadores/agregar"
            ></p-button>
            <span class="p-input-icon-left ml-5">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                placeholder="Buscar..."
                ngClass="search"
                (input)="
                  tWorkers.filterGlobal($any($event.target).value, 'contains')
                "
              />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name">
              Nombre y Apellidos <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="occupation">
              Cargo <p-sortIcon field="occupation"></p-sortIcon>
            </th>
            <th pSortableColumn="email">
              Email <p-sortIcon field="email"></p-sortIcon>
            </th>
            <th style="width: 5%"></th>
          </tr>
          <!-- <tr>
            <th></th>
            <th>
              <p-columnFilter
                field="area"
                matchMode="equals"
                [showMenu]="false"
              >
                <ng-template
                  pTemplate="filter"
                  let-value
                  let-filter="filterCallback"
                >
                  <div class="w-100">
                    <p-dropdown
                      [ngModel]="value"
                      [options]="areas"
                      optionLabel="name"
                      optionValue="name"
                      (onChange)="filter($event.value)"
                      placeholder="Todas"
                    >
                    </p-dropdown>
                  </div>
                </ng-template>
              </p-columnFilter>
            </th>
            <th>
              <p-columnFilter
                field="frequency"
                matchMode="equals"
                [showMenu]="false"
              >
                <ng-template
                  pTemplate="filter"
                  let-value
                  let-filter="filterCallback"
                >
                  <div class="w-100">
                    <p-dropdown
                      [ngModel]="value"
                      [options]="frequencies"
                      (onChange)="filter($event.value)"
                      placeholder="Todas"
                    >
                    </p-dropdown>
                  </div>
                </ng-template>
              </p-columnFilter>
            </th>
            <th></th>
          </tr> -->
        </ng-template>
        <ng-template pTemplate="body" let-worker>
          <tr>
            <td>{{ worker.name }}</td>
            <td>{{ worker.occupation }}</td>
            <td>{{ worker.email }}</td>
            <td>
              <div class="flex align-items-center justify-content-center">
                <p-button
                  icon="pi pi-info-circle"
                  label="Info"
                  [text]="true"
                  [routerLink]="['/trabajadores/detalles/', worker.id]"
                ></p-button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5" class="text-danger">
              No se encontró ningún trabajador.
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="row">
            <span class="col text-center"
              >Trabajadores: {{ workers ? workers.length : 0 }}</span
            >
          </div>
        </ng-template>
      </p-table>
      <p-confirmDialog></p-confirmDialog>
    </p-card>
  </div>
</div>
