<div class="flex align-items-center justify-content-center">
  <p-card
    class="p-5 w-full"
    [header]="
      newTypeOfMeeting.id
        ? 'Actualizar Tipo de Reunión'
        : 'Crear Tipo de Reunión'
    "
  >
    <p-toast></p-toast>
    <form
      class="form"
      action="POST"
      (ngSubmit)="create()"
      [formGroup]="typeOfMeetingForm"
      autocomplete="off"
    >
      <!-- name -->
      <div class="grid">
        <label
          for="name"
          class="col-2 flex align-items-center justify-content-end"
          >Tipo de Reunión:
        </label>

        <input
          class="col ml-2 mr-3"
          type="text"
          pInputText
          id="name"
          formControlName="name"
          placeholder="Tipo de Reunión..."
        />
      </div>

      <div class="grid">
        <div class="col-2"></div>

        <small
          id="name-help"
          class="p-error col ml-2"
          *ngIf="validate('name')"
          >{{ nameErrorMsg }}</small
        >
      </div>
      <!-- fin name -->

      <!-- 2 columnas -->
      <div class="grid mt-1">
        <!-- izquierda -->
        <div class="col">
          <!-- area -->
          <div class="grid">
            <label
              for="area"
              class="col-4 flex align-items-center justify-content-end"
              >Área:
            </label>

            <p-dropdown
              class="col"
              inputId="area"
              [options]="areas"
              optionLabel="name"
              optionValue="id"
              formControlName="area"
              placeholder="-- Seleccione --"
              [virtualScroll]="true"
              [virtualScrollItemSize]="38"
            ></p-dropdown>
          </div>

          <div class="grid">
            <div class="col-4"></div>

            <small
              id="area-help"
              class="p-error col pt-0 ml-2"
              *ngIf="validate('area')"
              >{{ areaErrorMsg }}</small
            >
          </div>
          <!-- fin area -->
        </div>
        <!-- fin izquierda -->

        <!-- derecha -->
        <div class="col">
          <!-- frecuencia -->
          <div class="grid">
            <label
              for="frequency"
              class="col-4 flex align-items-center justify-content-end"
              >Frecuencia:
            </label>

            <p-dropdown
              class="col"
              inputId="frequency"
              [options]="frequencies"
              formControlName="frequency"
              placeholder="-- Seleccione --"
            ></p-dropdown>
          </div>

          <div class="grid">
            <div class="col-4"></div>

            <small
              id="area-help"
              class="p-error col pt-0 ml-2"
              *ngIf="validate('frequency')"
              >{{ frequencyErrorMsg }}</small
            >
          </div>
          <!-- fin frecuencia -->
        </div>
        <!-- fin derecha -->
      </div>
      <!-- fin 2 columnas -->

      <!-- botones -->
      <div class="gap-6 mt-5 flex align-items-center justify-content-center">
        <p-button
          label="Crear"
          icon="pi pi-check"
          severity="success"
          class=""
          type="submit"
          *ngIf="!newTypeOfMeeting.id; else update"
          [disabled]="typeOfMeetingForm.invalid"
        ></p-button>

        <ng-template #update>
          <p-button
            label="Actualizar"
            icon="pi pi-check"
            severity="success"
            class="col-2 mx-2"
            type="submit"
            [disabled]="typeOfMeetingForm.invalid || typeOfMeetingForm.pristine"
          ></p-button>
        </ng-template>

        <p-button
          label="Cancelar"
          icon="pi pi-times"
          class=""
          type="button"
          [routerLink]="'/tipos-de-reuniones'"
        ></p-button>
      </div>
      <!-- fin botones -->
    </form>
  </p-card>
</div>
