<p-dialog
  [(visible)]="visible"
  [style]="{ width: '40rem' }"
  [header]="
    tom ? 'Actualizar Tipo de Reunión: ' + tom.name : 'Agregar Tipo de Reunión'
  "
  [modal]="true"
  styleClass="p-fluid"
  (onHide)="hideDialog()"
>
  <ng-template pTemplate="content">
    <div class="flex flex-column">
      <form [formGroup]="tomForm" class="form">
        <div class="field">
          <label for="name">Nombre:</label>

          <input type="text" pInputText id="name" formControlName="name" />

          <small class="p-error" *ngIf="submitted && name.errors">
            {{ nameErrorMsg }}
          </small>
        </div>
      </form>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="flex pt-4 justify-content-evenly">
      <p-button
        label="Cancelar"
        [text]="true"
        icon="pi pi-times"
        (onClick)="hideDialog()"
      />

      <p-button
        label="Guardar"
        icon="pi pi-check"
        [text]="true"
        (onClick)="save()"
      />
    </div>
  </ng-template>
</p-dialog>
