<div class="card">
  <!-- <p-toast /> -->

  <form [formGroup]="userForm" class="form">
    <p-dialog
      [(visible)]="registerDialog"
      [style]="{ width: '450px' }"
      header="Registrar Usuario"
      [modal]="true"
      [closable]="false"
      styleClass="p-fluid"
    >
      <p-messages [(value)]="msgRegister" [enableService]="false"></p-messages>
      <ng-template pTemplate="content">
        <div class="field">
          <label for="worker">Trabajador</label>

          <p-dropdown
            inputId="worker"
            formControlName="worker"
            [options]="workers"
            optionLabel="name"
            (onHide)="touchDropdown()"
            optionValue="id"
            placeholder="-- Seleccione --"
          />

          <small class="p-error" *ngIf="worker.errors && dropdownTouched">
            El trabajador es requerido.
          </small>
        </div>

        <div class="field">
          <label for="username">Usuario</label>

          <input
            id="username"
            pKeyFilter="alphanum"
            pInputText
            formControlName="username"
          />

          <small class="p-error" *ngIf="username.errors && username.touched">
            {{ getUsernameErrorMsg() }}.
          </small>
        </div>

        <div class="field">
          <label for="password">Contraseña</label>

          <p-password
            inputId="password"
            formControlName="password"
            [toggleMask]="true"
            [feedback]="false"
            (onBlur)="touchPassword()"
          />
          <small class="p-error" *ngIf="password.errors && passwordTouched">
            {{ getPasswordErrorMsg() }}.
          </small>
        </div>

        <div class="field">
          <label for="checkPassword">Confirmar contraseña</label>

          <p-password
            inputId="checkPassword"
            formControlName="checkPassword"
            [toggleMask]="true"
            [feedback]="false"
            (onBlur)="touchCheckPassword()"
          />
          <small
            class="p-error"
            *ngIf="checkPassword.errors && checkPasswordTouched"
          >
            {{ getCheckPasswordErrorMsg() }}.
          </small>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <p-button label="Atrás" [text]="true" routerLink="/iniciar-sesion" />

        <p-button
          label="Registrarse"
          severity="success"
          icon="pi pi-user-plus"
          [text]="true"
          [disabled]="userForm.invalid"
          (onClick)="register()"
        />
      </ng-template>
    </p-dialog>
  </form>

  <!-- <p-confirmDialog [style]="{ width: '450px' }" /> -->
</div>

<!-- <pre>{{ dropdownBlurred }}</pre> -->
