<p-stepper [linear]="true">
  <p-stepperPanel header="Datos de la Reunión">
    <ng-template
      pTemplate="content"
      let-nextCallback="nextCallback"
      let-index="index"
    >
      <div class="flex flex-column">
        <form class="form" [formGroup]="meetingForm" autocomplete="off">
          <!-- name -->
          <div class="flex flex-row align-items-center">
            <div class="flex flex-column col px-0">
              <div class="flex flex-row align-items-center">
                <div class="flex flex-column col-2 py-0">
                  <label for="name" class="flex justify-content-end"
                    >Reunión:</label
                  >
                </div>

                <div class="flex flex-column col py-0">
                  <input
                    class=""
                    id="name"
                    type="text"
                    pInputText
                    formControlName="name"
                    placeholder="Reunión..."
                  />
                </div>
              </div>

              <div class="flex flex-row align-items-center">
                <div class="flex flex-column col-2 py-0"></div>

                <div class="flex flex-column col py-0">
                  <small
                    id="name-help"
                    class="p-error"
                    *ngIf="dataSubmitted && name.errors"
                  >
                    {{ nameErrorMsg }}
                  </small>
                </div>
              </div>
            </div>
          </div>
          <!-- end name -->

          <!-- secretary -->
          <div class="flex flex-row align-items-center">
            <div class="flex flex-column col px-0">
              <div class="flex flex-row align-items-center">
                <div class="flex flex-column col-2 py-0">
                  <label for="secretary" class="flex justify-content-end"
                    >Secretario:</label
                  >
                </div>

                <div class="flex flex-column col py-0">
                  <p-dropdown
                    class=""
                    id="secretary"
                    formControlName="secretary"
                    [options]="organizationMembers"
                    optionLabel="name"
                    optionValue="id"
                    placeholder="-- Seleccione --"
                  />
                </div>
              </div>

              <div class="flex flex-row align-items-center">
                <div class="flex flex-column col-2 py-0"></div>

                <div class="flex flex-column col py-0">
                  <small
                    id="secretary-help"
                    class="p-error"
                    *ngIf="dataSubmitted && secretary.errors"
                  >
                    {{ secretaryErrorMsg }}
                  </small>
                </div>
              </div>
            </div>
          </div>
          <!-- end secretary -->

          <!-- date and session -->
          <div class="flex flex-row align-items-center">
            <!-- date -->
            <div class="flex flex-column col px-0">
              <div class="flex flex-row align-items-center p-0">
                <div class="flex flex-column col-4 py-0">
                  <label for="date" class="flex justify-content-end"
                    >Fecha:</label
                  >
                </div>

                <div class="flex flex-column col py-0">
                  <p-calendar
                    class=""
                    inputId="date"
                    formControlName="date"
                    dateFormat="dd/mm/yy"
                    appendTo="body"
                    [iconDisplay]="'input'"
                    [showIcon]="true"
                    [readonlyInput]="true"
                    [touchUI]="true"
                  />
                </div>
              </div>

              <div class="flex flex-row align-items-center p-0">
                <div class="flex flex-column col-4 py-0"></div>

                <div class="flex flex-column col mt-0 py-0">
                  <small
                    id="date-help"
                    class="p-error"
                    *ngIf="dataSubmitted && date.errors"
                  >
                    {{ dateErrorMsg }}
                  </small>
                </div>
              </div>
            </div>
            <!-- end date -->

            <!-- session -->
            <div class="flex flex-column col px-0">
              <div class="flex flex-row align-items-center p-0">
                <div class="flex flex-column col-4 py-0">
                  <label for="session" class="flex justify-content-end"
                    >Sesión:</label
                  >
                </div>

                <div class="flex flex-column col py-0">
                  <p-dropdown
                    id="session"
                    inputId="session"
                    formControlName="session"
                    [options]="sessions"
                    placeholder="-- Seleccione --"
                  />
                </div>
              </div>

              <div class="flex flex-row align-items-center p-0">
                <div class="flex flex-column col-4 py-0"></div>

                <div class="flex flex-column col mt-0 py-0">
                  <small
                    id="session-help"
                    class="p-error"
                    *ngIf="dataSubmitted && session.errors"
                  >
                    {{ sessionErrorMsg }}
                  </small>
                </div>
              </div>
            </div>
            <!-- end session -->
          </div>
          <!-- end date and session -->

          <!-- times -->
          <div class="flex flex-row align-items-center">
            <!-- start time -->
            <div class="flex flex-column col px-0">
              <div class="flex flex-row align-items-center p-0">
                <div class="flex flex-column col-4 py-0">
                  <label for="startTime" class="flex justify-content-end"
                    >Inicio:
                  </label>
                </div>

                <div class="flex flex-column col py-0">
                  <p-calendar
                    class=""
                    inputId="startTime"
                    formControlName="startTime"
                    appendTo="body"
                    [iconDisplay]="'input'"
                    [showIcon]="true"
                    [timeOnly]="true"
                    [readonlyInput]="true"
                  >
                    <ng-template pTemplate="inputicon">
                      <i
                        class="pi pi-clock pointer-events-none pointer-events-none"
                      ></i> </ng-template
                  ></p-calendar>
                </div>
              </div>

              <div class="flex flex-row align-items-center p-0">
                <div class="flex flex-column col-4 py-0"></div>

                <div class="flex flex-column col mt-0 py-0">
                  <small
                    id="startTime-help"
                    class="p-error"
                    *ngIf="dataSubmitted && startTime.errors"
                  >
                    {{ startTimeErrorMsg }}
                  </small>
                </div>
              </div>
            </div>
            <!-- end start time -->

            <!-- end time -->
            <div class="flex flex-column col px-0">
              <div class="flex flex-row align-items-center p-0">
                <div class="flex flex-column col-4 py-0">
                  <label for="endTime" class="flex justify-content-end"
                    >Fin:
                  </label>
                </div>

                <div class="flex flex-column col py-0">
                  <p-calendar
                    class=""
                    inputId="endTime"
                    formControlName="endTime"
                    appendTo="body"
                    [iconDisplay]="'input'"
                    [showIcon]="true"
                    [timeOnly]="true"
                    [readonlyInput]="true"
                  >
                    <ng-template pTemplate="inputicon">
                      <i
                        class="pi pi-clock pointer-events-none pointer-events-none"
                      ></i> </ng-template
                  ></p-calendar>
                </div>
              </div>

              <div class="flex flex-row align-items-center p-0">
                <div class="flex flex-column col-4 py-0"></div>

                <div class="flex flex-column col mt-0 py-0">
                  <small
                    id="endTime-help"
                    class="p-error"
                    *ngIf="dataSubmitted && endTime.errors"
                  >
                    {{ endTimeErrorMsg }}
                  </small>
                </div>
              </div>
            </div>
            <!-- end end time -->
          </div>
          <!-- end times -->
        </form>
      </div>

      <div class="flex pt-4 justify-content-end">
        <p-button
          label="Siguiente"
          icon="pi pi-arrow-right"
          iconPos="right"
          [text]="true"
          (onClick)="submitData()"
          (onClick)="meetingForm.valid && nextCallback.emit()"
        />
      </div>
    </ng-template>
  </p-stepperPanel>

  <p-stepperPanel header="Miembros Convocados">
    <ng-template
      pTemplate="content"
      let-prevCallback="prevCallback"
      let-nextCallback="nextCallback"
      let-index="index"
    >
      <div class="flex flex-column">
        <p-pickList
          sourceHeader="Miembros disponibles"
          targetHeader="Miembros convocados"
          [source]="availableMembers"
          [target]="members"
          [responsive]="true"
          [showSourceControls]="false"
          [showTargetControls]="false"
          [sourceStyle]="{ height: '10rem' }"
        >
          <ng-template let-worker pTemplate="item">
            <div class="">
              <span class="font-bold">{{ worker.name }}</span>
            </div>
          </ng-template>
        </p-pickList>
      </div>

      <div class="flex pt-4 justify-content-between">
        <p-button
          label="Anterior"
          icon="pi pi-arrow-left"
          [text]="true"
          (onClick)="prevCallback.emit()"
        />

        <p-button
          label="Siguiente"
          icon="pi pi-arrow-right"
          iconPos="right"
          [text]="true"
          (onClick)="setAvailableGuests()"
          (onClick)="checkParticipants() && nextCallback.emit()"
        />
      </div>
    </ng-template>
  </p-stepperPanel>

  <p-stepperPanel header="Invitados">
    <ng-template
      pTemplate="content"
      let-prevCallback="prevCallback"
      let-nextCallback="nextCallback"
      let-index="index"
    >
      <div class="flex flex-column">
        <p-pickList
          sourceHeader="Trabajadores disponibles"
          targetHeader="Trabajadores invitados"
          [source]="availableWorkers"
          [target]="guests"
          [responsive]="true"
          [showSourceControls]="false"
          [showTargetControls]="false"
          [sourceStyle]="{ height: '10rem' }"
        >
          <ng-template let-worker pTemplate="item">
            <div class="">
              <span class="font-bold">{{ worker.name }}</span>
            </div>
          </ng-template>
        </p-pickList>
      </div>

      <div class="flex pt-4 justify-content-between">
        <p-button
          label="Anterior"
          icon="pi pi-arrow-left"
          [text]="true"
          (onClick)="prevCallback.emit()"
        />

        <p-button
          label="Guardar"
          icon="pi pi-check"
          [text]="true"
          (onClick)="save()"
        />
      </div>
    </ng-template>
  </p-stepperPanel>
</p-stepper>
