<p-toast />
<div class="flex flex-wrap align-items-center justify-content-center">
  <p-card
    class="w-full p-3"
    [header]="organization ? organization.name : ''"
    [subheader]="typeOfMeeting ? typeOfMeeting.name : ''"
  >
    <div class="mb-3">
      <p-toolbar>
        <ng-template pTemplate="start">
          <p-button
            [text]="true"
            severity="success"
            label="Agregar"
            icon="pi pi-plus"
            (onClick)="showDialog()"
          />
        </ng-template>

        <ng-template pTemplate="end">
          <p-button
            [text]="true"
            label="Atrás"
            icon="pi pi-arrow-left"
            [routerLink]="[
              '/organizaciones/info/',
              organization ? organization.id : ''
            ]"
          />
        </ng-template>
      </p-toolbar>
    </div>

    <p-table
      #tMeetings
      [value]="meetings"
      [globalFilterFields]="['name', 'session', 'date']"
      [tableStyle]="{ 'min-width': '75rem' }"
    >
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between">
          <div class="flex flex-column align-self-center">
            <span class="">Reuniones</span>
          </div>

          <p-iconField iconPosition="left">
            <p-inputIcon styleClass="pi pi-search" />

            <input
              pInputText
              type="text"
              placeholder="Buscar..."
              (input)="
                tMeetings.filterGlobal($any($event.target).value, 'contains')
              "
            />
          </p-iconField>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name" style="width: 60%">
            <div class="">Reunión<p-sortIcon field="name" /></div>
          </th>

          <th pSortableColumn="session" style="width: 20%">
            <div class="">Sesión <p-sortIcon field="session" /></div>
          </th>

          <th pSortableColumn="date" style="width: 10%">
            <div class="flex align-items-center justify-content-center">
              Fecha <p-sortIcon field="date" />
            </div>
          </th>

          <th style="width: 10%"></th>
        </tr>

        <tr>
          <th></th>

          <th>
            <p-columnFilter
              field="session"
              matchMode="equals"
              [showMenu]="false"
            >
              <ng-template
                pTemplate="filter"
                let-value
                let-filter="filterCallback"
              >
                <p-dropdown
                  appendTo="body"
                  [ngModel]="value"
                  [options]="sessions"
                  (onChange)="filter($event.value)"
                  placeholder="Todas"
                />
              </ng-template>
            </p-columnFilter>
          </th>

          <th>
            <div class="flex justify-content-evenly align-items-center">
              <p-columnFilter type="date" field="meetingDate" display="menu" />
            </div>
          </th>

          <th></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-meeting>
        <tr>
          <td>
            <div class="">
              {{ meeting.name }}
            </div>
          </td>

          <td>
            <div class="">
              {{ meeting.session }}
            </div>
          </td>

          <td>
            <div class="flex align-items-center justify-content-center">
              {{ meeting.date | date : "dd/MM/yyyy" }}
            </div>
          </td>

          <td>
            <div class="flex align-items-center justify-content-center">
              <p-button
                class="mr-2"
                icon="pi pi-info-circle"
                [text]="true"
                [rounded]="true"
                [routerLink]="['/reuniones/detalles/', meeting.id]"
              />

              <p-button
                icon="pi pi-trash"
                [rounded]="true"
                severity="danger"
                [text]="true"
              />
            </div>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4">No se encontró ninguna Reunión</td>
        </tr>
      </ng-template>

      <ng-template pTemplate="summary">
        <div class="row">
          <span class="col text'center"
            >Reuniones: {{ meetings ? meetings.length : 0 }}</span
          >
        </div>
      </ng-template>
    </p-table>
  </p-card>
</div>

<p-dialog
  [(visible)]="formVisible"
  [style]="{ width: '50rem' }"
  header="Crear Reunión"
  [modal]="true"
  styleClass="p-fluid"
  [draggable]="false"
  (onHide)="hideDialog()"
>
  <app-meeting-form
    *ngIf="formVisible"
    [organization]="organization"
    [typeOfMeeting]="typeOfMeeting"
    (onSave)="reloadTable($event)"
  />
</p-dialog>
