<p-dialog
  [(visible)]="visible"
  [style]="{ width: '50rem' }"
  [header]="tom!.name"
  [modal]="true"
  styleClass="p-fluid"
  (onHide)="hideDialog()"
  [maximizable]="true"
  [closable]="false"
  [focusOnShow]="false"
>
  <!-- <h3>
    <span class="p-text-secondary block mb-5">{{ tom!.name }}</span>
  </h3> -->

  <ng-template pTemplate="content">
    <div class="" *ngIf="!createVisible">
      <div class="mb-3">
        <p-toolbar>
          <ng-template pTemplate="start">
            <p-button
              label="Crear Agenda"
              severity="success"
              icon="pi pi-plus"
              [text]="true"
              (onClick)="createAgenda()"
            />
          </ng-template>

          <ng-template pTemplate="end">
            <p-button
              [text]="true"
              label="Atrás"
              icon="pi pi-arrow-left"
              (onClick)="hideDialog()"
            />
          </ng-template>
        </p-toolbar>
      </div>

      <p-dataView
        #dvAgendas
        [value]="agendas"
        [sortField]="sortField"
        [sortOrder]="sortOrder"
      >
        <ng-template pTemplate="header">
          <div class="flex flex-column md:flex-row md:justify-content-between">
            <div class=""></div>

            <p-dropdown
              [options]="sortOptions"
              [(ngModel)]="sortKey"
              placeholder="Ordenar por Año"
              (onChange)="onSortChange($event)"
              styleClass="mb-2 md:mb-0"
            />
          </div>
        </ng-template>

        <ng-template pTemplate="list" let-agendas>
          <div class="" *ngFor="let agenda of agendas; let first = first">
            <div
              class="flex flex-row justify-content-between align-items-center p-3"
              [ngClass]="{ 'border-top-1 surface-border': !first }"
            >
              <div class="flex flex-column">
                <span class="text-lg font-medium">{{ agenda.year }}</span>
              </div>

              <div class="flex flex-column">
                <div class="flex flex-row">
                  <p-button
                    icon="pi pi-info-circle"
                    [rounded]="true"
                    [text]="true"
                    (onClick)="showInfo(agenda)"
                  />

                  <p-button
                    icon="pi pi-pencil"
                    [rounded]="true"
                    [text]="true"
                    severity="success"
                  />

                  <p-button
                    icon="pi pi-trash"
                    [rounded]="true"
                    [text]="true"
                    severity="danger"
                  />
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </div>

    <app-agenda-form
      *ngIf="createVisible"
      [agenda]="agenda"
      [(info)]="infoMode"
      [idToM]="tom.id"
      (onSubmit)="reloadTable($event)"
      (onCancel)="changeView($event)"
    />
  </ng-template>
</p-dialog>
