<!-- <p-dialog
  [(visible)]="visible"
  [style]="{ width: '50rem' }"
  styleClass="p-fluid"
  [header]="!idAgenda ? 'Crear Agenda' : 'Agenda: ' + year"
  [modal]="true"
  (onHide)="hideDialog()"
  [maximizable]="true"
  [focusOnShow]="false"
> -->
<!-- <ng-template pTemplate="content"> -->

<h3 class="mt-0">
  <span class="p-text-secondary block mb-5">{{
    agenda ? "Agenda " + agenda.year : "Crear Agenda"
  }}</span>
</h3>

<div class="">
  <!-- <p-toast /> -->
  <!-- XXX así se hace para poner un mensaje fuera de un toast -->
  <!-- <p-messages key="banner" /> -->

  <div class="mb-3">
    <p-toolbar>
      <ng-template pTemplate="start">
        <p-button
          *ngIf="!info"
          [text]="true"
          severity="success"
          label="Agregar Tema"
          icon="pi pi-plus"
          (onClick)="showTopicDialog()"
        />

        <p-button
          *ngIf="info"
          [text]="true"
          severity="success"
          label="Editar"
          icon="pi pi-pencil"
          (onClick)="edit()"
        />
      </ng-template>

      <ng-template pTemplate="end">
        <p-button
          *ngIf="!info"
          [text]="true"
          label="Guardar"
          icon="pi pi-check"
          (onClick)="save()"
          class="mr-2"
        />

        <p-button
          [text]="true"
          [label]="!info ? 'Cancelar' : 'Atrás'"
          [icon]="!info ? 'pi pi-times' : 'pi pi-arrow-left'"
          (onClick)="hide()"
        />
      </ng-template>
    </p-toolbar>
  </div>

  <div class="flex flex-column" *ngIf="!info">
    <form [formGroup]="agendaForm" class="form">
      <div class="field grid">
        <label for="name" class="col-1 flex justify-content-end pt-2"
          >Año:</label
        >

        <p-calendar
          class="col justify"
          formControlName="year"
          view="year"
          dateFormat="yy"
          [readonlyInput]="true"
        />

        <small class="p-error" *ngIf="submitted && year.errors">
          {{ yearErrorMsg }}
        </small>
      </div>
    </form>
  </div>

  <p-table
    #tTopics
    [value]="newAgenda.topics!"
    sortField="monthNumber"
    sortMode="single"
    [scrollable]="true"
    scrollHeight="400px"
    rowGroupMode="rowspan"
    groupRowsBy="monthNumber"
    class=""
    [globalFilterFields]="['name']"
    [rowHover]="true"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-content-center justify-content-between">
        <!-- XXX con align-self-center se centra el contenido -->
        <div class="flex flex-column align-self-center">
          <span class="">Temas</span>
        </div>

        <div class="flex flex-column">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="
                tTopics.filterGlobal($any($event.target).value, 'contains')
              "
              placeholder="Buscar..."
            />
          </span>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 10%">
          <span class="flex justify-content-center"> Mes </span>
        </th>
        <th style="width: 80%">Tema</th>
        <th style="width: 10%" *ngIf="!info"></th>
      </tr>
    </ng-template>

    <ng-template
      pTemplate="body"
      let-topic
      let-rowIndex="rowIndex"
      let-rowgroup="rowgroup"
      let-rowspan="rowspan"
    >
      <tr>
        <td *ngIf="rowgroup" [attr.rowspan]="rowspan">
          <span class="text-lg font-medium flex justify-content-center">{{
            topic.month | date : "MMMM" | uppercase
          }}</span>
        </td>

        <td>
          {{ topic.name }}
        </td>

        <td class="flex gap-2" *ngIf="!info">
          <p-button
            icon="pi pi-pencil"
            [rounded]="true"
            [text]="true"
            (onClick)="showTopicDialog(topic)"
          />

          <p-button
            icon="pi pi-trash"
            severity="danger"
            [rounded]="true"
            [text]="true"
            (onClick)="remove(topic.id)"
          />
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="3" class="">No se encontró ningún Tema.</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="summary">
      <div class="row">
        <span class="col text-center"
          >Temas: {{ newAgenda.topics!.length }}</span
        >
      </div>
    </ng-template>
  </p-table>

  <!-- FIXME hacer todos los dialog [draggable]="false" -->
  <p-dialog
    [(visible)]="topicDialog"
    [focusOnShow]="false"
    [draggable]="false"
    [style]="{ width: '40rem' }"
    styleClass="p-fluid"
    [header]="!idTopic.value ? 'Agregar Tema' : 'Editar Tema'"
    [modal]="true"
    (onHide)="hideTopicDialog()"
  >
    <ng-template pTemplate="content">
      <form class="form" [formGroup]="topicForm">
        <div class="field">
          <label for="month" class="">Mes:</label>

          <p-calendar
            inputId="month"
            formControlName="month"
            view="month"
            dateFormat="MM"
            [readonlyInput]="true"
            appendTo="body"
          />

          <small class="p-error" *ngIf="topicSubmitted && month.errors">
            {{ monthErrorMsg }}
          </small>
        </div>

        <div class="field">
          <label for="name" class="">Nombre:</label>

          <input
            class=""
            type="text"
            pInputText
            id="name"
            formControlName="name"
          />

          <small class="p-error" *ngIf="topicSubmitted && name.errors">
            {{ nameErrorMsg }}
          </small>
        </div>
      </form>
    </ng-template>

    <ng-template pTemplate="footer">
      <p-button
        label="Cancelar"
        icon="pi pi-times"
        [text]="true"
        (onClick)="hideTopicDialog()"
      />

      <p-button
        label="Guardar"
        icon="pi pi-check"
        [text]="true"
        (onClick)="saveTopic()"
      />
    </ng-template>
  </p-dialog>
  <p-confirmDialog />
</div>

<!-- <div class="">
  <p-messages key="banner" />

  <div class="mb-3">
    <p-toolbar>
      <ng-template pTemplate="start">
        <p-button
          class=""
          [text]="true"
          severity="success"
          label="Agregar Tema"
          icon="pi pi-plus"
          (onClick)="showTopicDialog(null)"
        />
      </ng-template>

      <ng-template pTemplate="end">
        <p-button
          [text]="true"
          label="Guardar"
          icon="pi pi-check"
          (onClick)="save()"
          class="mr-2"
        />

        <p-button
          [text]="true"
          label="Cancelar"
          icon="pi pi-times"
          (onClick)="hide()"
        />
      </ng-template>
    </p-toolbar>
  </div>

  <div class="flex flex-column">
    <form [formGroup]="agendaForm" class="form">
      <div class="field grid">
        <label for="name" class="col-1 flex justify-content-end pt-2"
          >Año:</label
        >

        <p-calendar
          class="col justify"
          formControlName="year"
          view="year"
          dateFormat="yy"
          [readonlyInput]="true"
        />

        <small class="p-error" *ngIf="submitted && year.errors">
          {{ yearErrorMsg }}
        </small>
      </div>
    </form>
  </div>

  <p-table
    #tTopics
    [value]="newAgenda.topics!"
    sortField="monthNumber"
    sortMode="single"
    [scrollable]="true"
    scrollHeight="400px"
    rowGroupMode="rowspan"
    groupRowsBy="monthNumber"
    class=""
    [globalFilterFields]="['name']"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-content-center justify-content-between">
        <div class=""></div>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="
              tTopics.filterGlobal($any($event.target).value, 'contains')
            "
            placeholder="Buscar..."
          />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 10%">
          <span class="flex justify-content-center"> Mes </span>
        </th>
        <th style="width: 80%">Tema</th>
        <th style="width: 10%"></th>
      </tr>
    </ng-template>

    <ng-template
      pTemplate="body"
      let-topic
      let-rowIndex="rowIndex"
      let-rowgroup="rowgroup"
      let-rowspan="rowspan"
    >
      <tr>
        <td *ngIf="rowgroup" [attr.rowspan]="rowspan">
          <span class="text-lg font-medium flex justify-content-center">{{
            topic.month | date : "MMMM" | uppercase
          }}</span>
        </td>

        <td>
          {{ topic.name }}
        </td>

        <td class="flex gap-2">
          <p-button
            icon="pi pi-pencil"
            [rounded]="true"
            [text]="true"
            (onClick)="showTopicDialog(topic)"
          />

          <p-button
            icon="pi pi-trash"
            severity="danger"
            [rounded]="true"
            [text]="true"
            (onClick)="remove(topic.id)"
          />
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="3" class="">No se encontró ningún Tema.</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="summary">
      <div class="row">
        <span class="col text-center"
          >Temas: {{ newAgenda.topics!.length }}</span
        >
      </div>
    </ng-template>
  </p-table>

  <p-dialog
    [(visible)]="topicDialog"
    [focusOnShow]="false"
    [draggable]="false"
    [style]="{ width: '40rem' }"
    styleClass="p-fluid"
    [header]="!idTopic.value ? 'Agregar Tema' : 'Editar Tema'"
    [modal]="true"
    (onHide)="hideTopicDialog()"
  >
    <ng-template pTemplate="content">
      <form class="form" [formGroup]="topicForm">
        <div class="field">
          <label for="month" class="">Mes:</label>

          <p-calendar
            inputId="month"
            formControlName="month"
            view="month"
            dateFormat="MM"
            [readonlyInput]="true"
            appendTo="body"
          />

          <small class="p-error" *ngIf="topicSubmitted && month.errors">
            {{ monthErrorMsg }}
          </small>
        </div>

        <div class="field">
          <label for="name" class="">Nombre:</label>

          <input
            class=""
            type="text"
            pInputText
            id="name"
            formControlName="name"
          />

          <small class="p-error" *ngIf="topicSubmitted && name.errors">
            {{ topicErrorMsg }}
          </small>
        </div>
      </form>
    </ng-template>

    <ng-template pTemplate="footer">
      <p-button
        label="Cancelar"
        icon="pi pi-times"
        [text]="true"
        (onClick)="hideTopicDialog()"
      />

      <p-button
        label="Guardar"
        icon="pi pi-check"
        [text]="true"
        (onClick)="saveTopic()"
      />
    </ng-template>
  </p-dialog>
  <p-confirmDialog />
</div> -->
<!-- </ng-template> -->
<!-- </p-dialog> -->
