<div class="flex align-items-center justify-content-center">
  <p-card class="p-5 w-full" [header]="title">
    <p-messages
      [(value)]="msgErrorNoData"
      [enableService]="false"
      [closable]="false"
      [showTransitionOptions]="'500ms'"
      [hideTransitionOptions]="'500ms'"
      *ngIf="canceledData"
    />

    <div class="mb-3" *ngIf="agendaCreated">
      <p class="m-0 p-text-secondary">
        <span class="font-bold">Tipo de Reunion:</span>
        {{ typeOfMeeting }}
      </p>

      <p class="m-0 p-text-secondary">
        <span class="font-bold">Año:</span>
        {{ newAgenda.year }}
      </p>
    </div>

    <div class="mb-3">
      <p-toolbar>
        <ng-template pTemplate="start">
          <p-button
            class="mr-1"
            [text]="true"
            severity="success"
            label="Agregar Tema"
            icon="pi pi-plus"
            (onClick)="showTopicDialog()"
            *ngIf="agendaCreated"
          ></p-button>

          <p-button
            [text]="true"
            [label]="
              agendaCreated
                ? 'Editar Datos de la Agenda'
                : 'Agregar Datos de la Agenda'
            "
            [icon]="agendaCreated ? 'pi pi-pencil' : 'pi pi-plus'"
            [severity]="agendaCreated ? 'primary' : 'success'"
            (onClick)="showAgendaDialog()"
          ></p-button>
        </ng-template>

        <ng-template pTemplate="end">
          <p-button
            [text]="true"
            [label]="!newAgenda.id ? 'Crear' : 'Actualizar'"
            icon="pi pi-check"
            (onClick)="create()"
            *ngIf="agendaCreated && newAgenda.topics.length && changed"
          ></p-button>

          <p-button
            [text]="true"
            label="Atrás"
            icon="pi pi-angle-left"
            [routerLink]="
              newAgenda.id ? ['/agendas/detalles/', newAgenda.id] : ['/agendas']
            "
            *ngIf="!changed; else cancel"
          />

          <ng-template #cancel>
            <p-button
              [text]="true"
              label="Cancelar"
              icon="pi pi-times"
              (onClick)="cancelChanges($event)"
            />
          </ng-template>
        </ng-template>
      </p-toolbar>
    </div>

    <p-table
      #tTopics
      [value]="newAgenda.topics"
      sortField="month.id"
      sortMode="single"
      dataKey="id"
      rowGroupMode="subheader"
      groupRowsBy="month.id"
      [globalFilterFields]="['name', 'month']"
      [rows]="10"
      [paginator]="true"
      class="mt-3"
    >
      <ng-template pTemplate="caption">
        <div class="flex align-content-center justify-content-between">
          <h3 class="m-0 align-self-center">Temas</h3>

          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="
                tTopics.filterGlobal($any($event.target).value, 'contains')
              "
              placeholder="Buscar..."
            />
          </span>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th style="width: 90%">Tema</th>

          <th style="width: 10%"></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="groupheader" let-topic let-expanded="expanded">
        <tr>
          <td colspan="2">
            <div class="flex align-items-center">
              <p-button
                type="button"
                [text]="true"
                [rounded]="true"
                [plain]="true"
                [pRowToggler]="topic"
                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
              ></p-button>
              <span class="font-bold ml-2">{{ topic.month.name }}</span>
            </div>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="groupfooter" let-topic>
        <tr class="p-rowgroup-footer">
          <td colspan="2">
            <span class="font-bold ml-5">
              Temas: {{ monthTotalTopics(topic.month.name) }}
            </span>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="rowexpansion" let-topic>
        <tr>
          <td>
            {{ topic.name }}
          </td>

          <td class="flex gap-2">
            <p-button
              icon="pi pi-pencil"
              [rounded]="true"
              [text]="true"
              (onClick)="editTopic(topic)"
            ></p-button>

            <p-button
              icon="pi pi-trash"
              severity="danger"
              [rounded]="true"
              [text]="true"
              (onClick)="remove(topic.id)"
            ></p-button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="3" class="text-danger">No se encontró ningún tema.</td>
        </tr>
      </ng-template>

      <ng-template pTemplate="summary">
        <div class="row">
          <span class="col text-center"
            >Temas: {{ newAgenda.topics ? newAgenda.topics.length : 0 }}</span
          >
        </div>
      </ng-template>
    </p-table>

    <!-- FIXME: crear nuevo componente para k el layout salga correctamente-->
    <form class="form" [formGroup]="topicForm" autocomplete="off">
      <p-dialog
        [closable]="false"
        [(visible)]="topicDialog"
        [style]="{ width: '500px' }"
        [header]="
          !topicForm.controls['id'].value ? 'Agregar Tema' : 'Editar Tema'
        "
        [modal]="true"
      >
        <ng-template pTemplate="content">
          <div class="my-1">
            <label for="month">Mes:</label>
          </div>

          <div>
            <p-autoComplete
              inputId="month"
              [forceSelection]="true"
              formControlName="month"
              [suggestions]="filteredMonths"
              field="name"
              (completeMethod)="filterMonth($event)"
            />
          </div>

          <div>
            <small
              id="month-help"
              class="p-error pt-0 ml-2 mr-3"
              *ngIf="validate('month', 'topic')"
              >{{ monthErrorMsg }}</small
            >
          </div>

          <div class="mt-3 mb-1">
            <label for="name">Tema:</label>
          </div>

          <div>
            <textarea
              pInputTextarea
              rows="1"
              [autoResize]="true"
              id="name"
              formControlName="name"
              placeholder="Tema..."
            ></textarea>
          </div>

          <div>
            <small
              id="topic-help"
              class="p-error pt-0 ml-2 mr-3"
              *ngIf="validate('name', 'topic')"
              >{{ topicErrorMsg }}</small
            >
          </div>
        </ng-template>

        <ng-template pTemplate="footer">
          <p-button
            label="Cancelar"
            icon="pi pi-times"
            [text]="true"
            (onClick)="cancel('topic')"
          />

          <p-button
            type="submit"
            label="Agregar"
            icon="pi pi-check"
            [text]="true"
            [disabled]="topicForm.invalid"
            (onClick)="addTopic()"
            *ngIf="!topicForm.controls['id'].value; else update"
          />

          <ng-template #update>
            <p-button
              type="submit"
              label="Actualizar"
              icon="pi pi-check"
              [text]="true"
              [disabled]="topicForm.invalid"
              (onClick)="addTopic()"
            />
          </ng-template>
        </ng-template>
      </p-dialog>
    </form>

    <form class="form" [formGroup]="agendaForm" autocomplete="off">
      <p-dialog
        [(visible)]="agendaDialog"
        [closable]="false"
        [modal]="true"
        [style]="{ width: '500px' }"
        header="Definir datos de la Agenda"
        [focusOnShow]="false"
      >
        <p-messages
          [(value)]="msgErrorExistentAgenda"
          [enableService]="false"
          [showTransitionOptions]="'500ms'"
          [hideTransitionOptions]="'500ms'"
          *ngIf="existentAgenda"
        />

        <ng-template pTemplate="content">
          <div class="mt-1 mb-1">
            <label for="typeOfMeeting">Tipo de Reunión:</label>
          </div>

          <div>
            <p-dropdown
              inputId="typeOfMeeting"
              [options]="typesOfMeetings"
              optionLabel="name"
              optionValue="id"
              formControlName="typeOfMeeting"
              placeholder="-- Seleccione --"
              class="w-full"
              scrollHeight="100px"
            ></p-dropdown>
          </div>

          <div>
            <small
              id="typeOfMeeting-help"
              class="p-error pt-0 ml-2 mr-3"
              *ngIf="validate('typeOfMeeting', 'agenda')"
              >{{ typeOfMeetingErrorMsg }}</small
            >
          </div>

          <div class="mt-3 mb-1">
            <label for="year">Año:</label>
          </div>

          <p-inputNumber
            inputId="year"
            formControlName="year"
            mode="decimal"
            [useGrouping]="false"
          />

          <div>
            <small
              id="year-help"
              class="p-error pt-0 ml-2 mr-3"
              *ngIf="validate('year', 'agenda')"
              >{{ yearErrorMsg }}</small
            >
          </div>
        </ng-template>

        <ng-template pTemplate="footer">
          <p-button
            label="Cancelar"
            icon="pi pi-times"
            [text]="true"
            (onClick)="cancel('agenda')"
          />

          <p-button
            type="submit"
            label="Aceptar"
            icon="pi pi-check"
            [text]="true"
            [disabled]="agendaForm.invalid"
            (onClick)="setAgenda()"
          />
        </ng-template>
      </p-dialog>
    </form>
  </p-card>
  <p-confirmDialog></p-confirmDialog>
</div>
